@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;


.recipesSection {
  padding: 0px 70px;
  margin-bottom: 30px;

  @include tablet {
    padding: 0px 40px;
  }

  @include mobile {
    padding: 0px 20px;
  }
}

.sectionTitle {
  color: $color-primary;
  font-size: 60px;
  font-family: $font-family-secondary;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.6px;
  margin-bottom: 80px;
  margin-top: 0px;

  @include tablet {
    font-size: 40px;
    margin-bottom: 40px;
  }

  @include mobile {
    font-size: 32px;
    margin-bottom: 30px;
  }
}

.recipesList {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 20px;
  overflow-x: auto;
  overflow-y: visible;
  padding-top: 80px;
  padding-bottom: 80px;
  scrollbar-width: thin;
  scrollbar-color: $color-primary transparent;
  
  // Para mantener las medidas de las cards
  & > * {
    flex-shrink: 0;
  }

  // Estilos para la barra de scroll en webkit
  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
    border-radius: 4px;
  }

  // Tablet: mostrar 2.5 cards (266px * 2.5 + 20px gap = 685px)
  @include tablet {
    max-width: 685px;
    margin: 0 auto;
  }

  // Móvil: mostrar 2 cards (266px * 2 + 20px gap = 552px)
  @include mobile {
    max-width: 552px;
    margin: 0 auto;
  }
}

.loadingText {
  color: $color-primary;
  font-family: $font-family-secondary;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.6px;
  text-align: center;
  font-size: 40px;
}

.errorText {
  color: $color-text;
  font-family: $font-family-primary;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.6px;
  text-align: center;
}