@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;


.recipesSection {
  padding: 28px 70px;
}

.sectionTitle {
  color: $color-primary;
  font-size: 60px;
  font-family: $font-family-secondary;
  font-weight: 400;
  font-style: italic;
  letter-spacing: -0.6px;
  margin-bottom: 80px;
  margin-top: 0px;
}