@use '../../scss/abstracts/variables' as *; 
@use '../../scss/abstracts/mixins' as *;



.card {
  background-color: #fff;
  width: 266px;
  height: 270px;
  padding: 0;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  &:hover {
    height: 350px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    .cardInfo {
      display: none;
    }
    .infoWrapper {
      display: block;
    }
  }
}

.cardBody {
  top: -60px;
  position: relative;
}

.image {
  width: 164px;
  height: 164px;
  object-fit: cover;
  border-radius: 100%;
}

.title {
  text-align: center;
  letter-spacing: -0.6px;
  color: $color-primary;
  opacity: 1;
  font-size: 1.5rem;
  font-family: $font-family-primary;
  margin-bottom: 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-top: 16px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.startIcon {
  width: 23px;
  height: 23px;

}

.ratingValue {
  color: $color-text;
  font-family: $font-family-primary;
  font-size: 26px;
}

.favoriteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.infoWrapper {
  display: none;
}

.infoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.infoIcon {
  width: 23px;
  height: 23px;
}

.titleInfo {
  font-size: 17px;
  font-family: $font-family-secondary;
  color: $color-primary;
}

.subtitleInfo {
  font-size: 15px;
  font-family: $font-family-primary;
  color: $color-text;
  margin-top: -5px
}