@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;

.heroContainer {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.heroContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: flex-start;
  left: 20%;
  flex-direction: column;
  text-align: left;
}

.heroTitle {
  font-family: $font-family-primary;
  font-size: 74px;
  color: #fff;
  line-height: 1.1;
}

.heroSubtitle {
  display: block;
  font-size: 3rem; 
  font-weight: 400;
  font-style: italic;
}