@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;

.heroContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;
}

.heroImage {
  width: 100%;
  max-width: 100%;
  height: 416px;
  object-fit: cover;
  filter: brightness(0.6);
}

.heroContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  left: 20%;
  flex-direction: column;
  text-align: left;
}

.heroTitle {
  font-family: $font-family-primary;
  font-size: 74px;
  color: #fff;
  line-height: 1.1;
}

.heroSubtitle {
  display: block;
  font-size: 67px; 
  font-weight: 400;
  font-style: italic;
  font-family: $font-family-secondary;
}


.tabletMenu {
  display: flex;
  margin-inline: 60px;
  margin-top: -20px;
  position: relative;
  flex-wrap: wrap;
  gap: 12px;
}

.cardTabletMenu {
  width: 106px;
  height: 85px;
  box-shadow: 0px 5px 9px #8395A766;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  cursor: pointer;
}

.iconTabletMenu {
  width: 27px;
  height: auto;
  margin-bottom: 3px;
}

.textTabletMenu {
  font-size: 13px;
  font-family: $font-family-primary;
  color: $color-text;
}

@include tablet {
  .heroContent {
    height: 20vh;
    left: 120px;
  }
  .heroImage{
    height: 234px;
  }
  .heroTitle {
    font-size: 51px;
  }
  .heroSubtitle {
    font-size: 51px;
  }
}
@include mobile {
  .heroContent {
    height: 30vh;
    left: 20px;
  }
  .heroImage{
    height: 234px;
  }
  .heroTitle {
    font-size: 51px;
  }
  .heroSubtitle {
    font-size: 51px;
  }
  .tabletMenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: 20px;
    gap: 12px;
  }

  .cardTabletMenu {
    width: 100%;
    max-width: 100%;
  }
}

@include desktop {
  .tabletMenu {
    display: none;
  }
}



