@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;

.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  z-index: 10;
}

.logo {
  font-size: 1.8rem;
  color: $color-text;
  font-family: $font-family-secondary;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1.15px;
  
  span {
    color: $color-primary;
    font-family: $font-family-primary
  }
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}

.navLink {
  text-decoration: none;
  color: $color-text;
  font-size: 13px;
  font-weight: 500;
  font-family: $font-family-primary;

  &:hover {
    color: $color-primary;
  }
}

.navDestop {
  display: none;
}

@include mobile {
  .navHeader {
    padding-inline: 20px;
  }
}

@include desktop {

  .navDestop {
    display: block;
  }

  .homeIcon {
    display: none;
  }
}
