@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;

.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  z-index: 10;
}

.logo {
  font-size: 1.8rem;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5rem;
}

.navLink {
  text-decoration: none;
  color: $color-text;
  font-size: 13px;
  font-weight: 500;
  font-family: $font-family-primary;

  &:hover {
    color: $color-primary;
  }
}
